.primary-button {
	font-family: Roboto, Inter, Arial;
	background-color: #f1c41b;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	/* box-shadow: 0 4px 30px rgba(247, 196, 27, 0.35); */
	display: inline-block;
}
