.card {
	font-family: Roboto, Inter, Arial;
	display: flexbox;
	margin-bottom: 64px;
	background-color: #313338;
	background-image: linear-gradient(0deg, rgb(54, 56, 61), #313338);
	border-radius: 14px;
	border: none;
	padding: 10px;
	box-shadow: 0 4px 30px rgba(51, 56, 57, 0.75);
	color: white;
	flex-basis: 40%;
}
