.plus {
	font-family: Roboto, Inter, Arial;
	margin-left: 50px;
	width: 10px;
	height: 10px;
	text-align: center;
	background-color: #f1c41b;
	border-radius: 50%;
	box-shadow: 0 4px 30px rgba(247, 196, 27, 0.35);
	padding: 20px 20px;
	line-height: 10px;
}
