* {
	font-family: Roboto, Inter, Arial;
}

/* body {
	margin-left: auto;
	margin-right: auto;
	color: #313338;
}

main {
	padding-top: 50px;
} */

/* .title {
	font-weight: bold;
	font-size: 64px;
	vertical-align: top;
	display: inline-block;
	border: none;
	margin-bottom: 0px;
} */

/* .logo {
	display: inline-block;
} */

/* .dashboard {
	padding: auto auto;
} */

/* .primary-button {
	background-color: #f1c41b;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 30px rgba(247, 196, 27, 0.35);
} */

/* .secondary-button {
	background-color: #ffe894;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 30px rgba(247, 196, 27, 0.35);
} */

/* .card {
	display: flexbox;
	margin-bottom: 64px;
	background-color: #313338;
	background-image: linear-gradient(0deg, rgb(54, 56, 61), #313338);
	border-radius: 14px;
	border: none;
	padding: 10px;
	box-shadow: 0 4px 30px rgba(51, 56, 57, 0.75);
	color: white;
} */

/* .bar {
	display: grid;
	align-items: center;
	border: none;
	padding: 10px;
	background-color: #313338;
	box-shadow: 0 4px 30px rgba(51, 56, 57, 0.75);
	border-radius: 14px;
	color: white;
	padding-left: 20px;
	margin-bottom: 8px;
} */

/* .plus {
	margin-left: 50px;
	width: 10px;
	height: 10px;
	text-align: center;
	background-color: #f1c41b;
	border-radius: 50%;
	box-shadow: 0 4px 30px rgba(247, 196, 27, 0.35);
	padding: 20px 20px;
	line-height: 10px;
} */

/* #new-material-button {
	display: inline-block;
} */

/* #dashboard-text {
	display: inline-block;
	right: 0;
}

#dashboard-text-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
} */

/* #menu-header {
	padding: 0px 212px;
} */

/* #menu-main {
	padding: 50px 300px;
	padding-top: 0px;
	padding-bottom: 0px;
} */

/* #right-buttons {
	width: 198.5px;
	height: 52px;
	margin-left: 0px;
	align-items: right;
} */
